# Folders to ignore
source

# Numerous always-ignore extensions
*.psd

# OS or Editor folders
*.sublime-grunt.cache
*.sublime-project
*.sublime-workspace

/*
!/app/
/app/*
!/app/addons


!/design/
/design/*
!/design/backend/
/design/backend/*
!/design/backend/css/
/design/backend/css/*
!/design/backend/css/addons/
!/design/backend/media/
/design/backend/media/*
!/design/backend/media/images/
/design/backend/media/images/*
!/design/backend/media/images/addons/
/design/backend/media/images/addons/*
!/design/backend/media/images/addons/ip5_*/
!/design/backend/templates/
/design/backend/templates/*
!/design/backend/templates/addons/
/design/backend/templates/addons/*
!/design/backend/templates/addons/ip5_*/
!/design/themes/
/design/themes/*

!/design/themes/responsive/
/design/themes/responsive/*
!/design/themes/responsive/layouts/
/design/themes/responsive/layouts/layouts_*
!/design/themes/responsive/templates/

!/design/themes/responsive/templates/addons/
!/design/themes/responsive/media/
!/design/themes/responsive/templates/common/
/design/themes/responsive/media/*
!/design/themes/responsive/media/images/
/design/themes/responsive/media/images/*
!/design/themes/responsive/media/images/addons/
!/design/themes/responsive/media/fonts/
!/design/themes/responsive/css/
/design/themes/responsive/css/*
!/design/themes/responsive/css/addons/
!/design/themes/responsive/styles/
/design/themes/responsive/styles/*
!/design/themes/responsive/styles/data/

!/design/themes/aquila/
!/design/themes/aquila/*

!/var/
/var/*
!/var/langs/
/var/langs/*/*
!/var/langs/*/addons


!/var/themes_repository/
!/var/themes_repository/*

var/themes_repository/basic/
/var/themes_repository/basic/*
var/themes_repository/bright_theme/
/var/themes_repository/bright_theme/*
var/themes_repository/responsive/
/var/themes_repository/responsive/*


!/js/
/js/*
!/js/addons/
!/js/tygh/


!cmsmagazined1992e543a5d7b4d64afe783fffdbc8d.txt
!.gitignore
!pom.xml 
.idea

/dev44/

/images/*
/image/*

/upgrades/*
/var/*
!/var/themes_repository/
!/var/langs/
!/var/snapshots/
!/var/index.php
!/var/.htaccess

.DS_Store
robots.txt
config.local.php

local_conf.php